:root {
  --thin-blue: #b3cee5;
  --thin-light-blue: #a8d1dd;

  --thin-green: #a8d3d1;
  --thin-light-green: #b0d2c2;

  --thin-purple: #c4c9e5;
  --thin-light-purple: #d5c5df;
  --thin-light-pink: #e2c2d3;

  --white: #ffffff;
  --black: #000000;
}
